from saml2 import BINDING_HTTP_REDIRECT
from saml2 import BINDING_HTTP_POST
from saml2.saml import NAME_FORMAT_URI

try:
    from saml2.sigver import get_xmlsec_binary
except ImportError:
    get_xmlsec_binary = None


if get_xmlsec_binary:
    xmlsec_path = get_xmlsec_binary(["/opt/local/bin","/usr/local/bin"])
else:
    xmlsec_path = '/usr/local/bin/xmlsec1'

BASE = "http://myip:myport"

CONFIG = {
    "entityid": "%s/%ssp.xml" % (BASE, ""),
    "description": "Verify Entity Categories SP",
    "service": {
        "sp": {
            "name": "Verify Entity Categories",
            "endpoints": {
                "assertion_consumer_service": [
                    ("%s/acs/redirect" % BASE, BINDING_HTTP_REDIRECT),
                    ("%s/acs/post" % BASE, BINDING_HTTP_POST)
                ],
            }
        },
    },
    "key_file": "pki/mykey.pem",
    "cert_file": "pki/mycert.pem",
    "attribute_map_dir": "[..]/pysaml2/example/attributemaps/",
    "xmlsec_binary": xmlsec_path,
    "metadata": {"local": ["./metadata.xml"]},
    "name_form": NAME_FORMAT_URI,
    #"entity_category": ["http://www.swamid.se/category/research-and-education"]
}
